<header>
    <!-- wrapper starts -->
    <section class="top">
        <div class="logo">
          <img src="../images/logo.png" alt="">
          <h1><a href="https://www.mmsu.edu.ph/">MMSU Motorpool</a></h1>
        </div>
      </section>
    
    <nav class="nav-links">
        <ul>
          <li><a class="home" href="/home">Home</a></li>
          <li><a class="vehicle" href="/vehicle">Vehicles</a></li>
          <li><a class="staff" href="/staff">Staff</a></li>
          <li><a class="maintenance" href="/maintenance">Maintenance</a></li>
          <li><a class="about" href="/about">About</a></li>
          <li><a class="support" href="/support">Support</a></li>
        </ul>
      </nav>
    </header>