<link rel="stylesheet" href="../stylesheets/about.css">
<div class="content">
    <h2 class="first"></h2>
    <p class="p1">
      <div class="misvis">
       <h6> Vision </h6><br>

        A premier Philippine university by 2028. <br>
        <h6> Mission </h6> <br>
To develop virtuous human capital and sustainable innovations in a knowledge-driven global economy.
</div>
    </p>
    <h2 class="second">Details</h2>
      <p class="p2">
        <ul>
          <li>location: Quiling Sur, Batac Ilocos Norte, Philippines</li>
        </ul>
      </p>
    </div>