<link rel="stylesheet" href="../stylesheets/home.css">
<div class="default">
<section class="top-container">
    <header class="showcase">
      <h5>Mariano Marcos State University</h5>
      <p>Established on January 6, 1976 by virtue of
         PD 1279 otherwise known as its Charter, Mariano Marcos
          State University was a merger of two growing state colleges
          in the province of Ilocos Norte: the Mariano Marcos Memorial
          College of Science and Technology (MMMCST) in Batac and the
          Northern Luzon State College (NLSC) in Laoag City. Also
          integrated were the tertiary level courses of the Ilocos
          Norte Agricultural College in Pasuquin and the Ilocos Norte
          College of Arts and Trades in Laoag. Predecessor institutions
          have existed as far back as the early 1900s.</p>
    </header>

      <div class="box news-links">
        <a class="university" href="https://www.mmsu.edu.ph/news" >University News</a>
<!-- boxes news -->
        <div class="cons">

          <div class="container">
              <a href="https://www.mmsu.edu.ph/news/psca-is-2019-william-d-dar-research-leadership-awardee"><img src="../images/pic1.png" alt=""></a>
        <div class="paragraph">
        <p class="title"><a class="link" href="https://www.mmsu.edu.ph/news/psca-is-2019-william-d-dar-research-leadership-awardee">PSCA is 2019 William D. Dar Research Leadership awardee.</a> </p>
        <p>MMSU President Shirley C. Agrupis won the prestigious 2019 William D. Dar Research Leadership Award bestowed by the Philippine Association of Research Managers, Inc. (PHILARM). 
         </p>
        </div>
          </div>

          <div class="container">
        <a href="https://www.mmsu.edu.ph/news/pcoo-holds-foi-campus-caravan-in-mmsu"><img src="../images/news2.jpg" alt=""></a>
        <div class="paragraph">
          <p class="title"><a class="link" href="https://www.mmsu.edu.ph/news/pcoo-holds-foi-campus-caravan-in-mmsu">PCOO holds FOI campus caravan in MMSU</a></p>
          <p>The Presidential Communications Operations Office (PCOO), in partnership with the MMSU, conducted last October 18 the Freedom of Information (FOI) campus caravan at the university Function Hall in order to inform the academic community the salient provisions of the law as roadmap towards government transparency.
           </p>
          </div>
            </div>

            <div class="container">
          <a href="https://www.mmsu.edu.ph/news/japanese-mayor-assures-mmsu-to-help-improve-ins-garlic-industry"><img src="../images/news3.jpg" alt=""></a>
          <div class="paragraph">
            <p class="title"><a class="link" href="https://www.mmsu.edu.ph/news/japanese-mayor-assures-mmsu-to-help-improve-ins-garlic-industry">Japanese mayor assures MMSU to help improve IN’s garlic industry</a></p>
            <p>The mayor of the town of Takko Machi, Japan has assured to lay down a feasible plan with the MMSU to help improve the garlic industry of Ilocos Norte for a bigger production and income of farmers.
             </p>
            </div>
              </div>
              <div class="container">
                <a href="https://www.mmsu.edu.ph/news/bjmp-hails-mmsu-for-extension-programs"><img src="../images/news4.jpg" alt=""></a>
                <div class="paragraph">
                  <p class="title"><a class="link" href="https://www.mmsu.edu.ph/news/bjmp-hails-mmsu-for-extension-programs">BJMP hails MMSU for extension programs</a></p>
                  <p>The MMSU Extension Directorate bagged another recognition for its relentless support to Persons Deprived of Liberty (PDL) bestowed by the Bureau of Jail Management and Penology (BJMP) of the City of Batac. The recognition was given because of MMSU's efforts in uplifting the lives of the PDLs through the implementation of various programs and projects. 

                  </p>
                  </div>
                    </div>

      </div>
      </div>
<!-- news end -->
      <div class="box announcement-links">
        <a class="university" href="https://www.mmsu.edu.ph/announcement">University announcement</a>
<!-- boxes announcement -->
        <div class="cons">

          <div class="container">
        <a href="https://www.mmsu.edu.ph/announcement/mmsu-is-in-need-of-one-1-professional-electrical-engineer"><img src="../images/null.png" alt=""></a>
        <div class="paragraph">
          <p class="title"><a class="link" href="https://www.mmsu.edu.ph/announcement/mmsu-is-in-need-of-one-1-professional-electrical-engineer">MMSU is in need of one (1) Professional Electrical Engineer.</a></p>
          <p>
           </p>
          </div>
            </div>

            <div class="container">
          <a href="https://www.mmsu.edu.ph/announcement/nominees-for-private-sector-representative-to-the-mmsu-board-of-regents"><img src="../images/null.png" alt=""></a>
          <div class="paragraph">
            <p class="title"><a class="link" href="https://www.mmsu.edu.ph/announcement/nominees-for-private-sector-representative-to-the-mmsu-board-of-regents">NOMINEES FOR PRIVATE SECTOR REPRESENTATIVE TO THE MMSU BOARD OF REGENTS</a></p>
            <p>Interested parties are requested to submit additional information on the nominees to the Search Committee for Private Sector Representative to the MMSU Board of Regents until October 11, 2019, thru: the Office of the Board Secretary, Rm 209, FEM Hall (Administration Building), Brgy. 16-S Quiling Sur, City of Batac, Ilocos Norte; Tel. No. 077-600-0459; Email: mmsu.univsec@gmail.com.
             </p>
            </div>
              </div>

              <div class="container">
            <a href="https://www.mmsu.edu.ph/announcement/search-for-private-sector-representative"><img src="../images/null.png" alt=""></a>
            <div class="paragraph">
              <p class="title"><a class="link" href="https://www.mmsu.edu.ph/announcement/search-for-private-sector-representative">Search for Private Sector Representative</a></p>
              <p>Submission of nominations for the Search for Private Sector Representative to the MMSU Board of Regents is extended until September 16, 2019.
               </p>
              </div>
                </div>
                <div class="container">
                 <a href="https://www.mmsu.edu.ph/announcement/notice-of-search-and-call-for-nominations-for-private-sector-representative-psr-to-the-mmsu-board-of-regents-bor"> <img src="../images/null.png" alt=""></a>
                  <div class="paragraph">
                    <p class="title"><a class="link" href="https://www.mmsu.edu.ph/announcement/notice-of-search-and-call-for-nominations-for-private-sector-representative-psr-to-the-mmsu-board-of-regents-bor">NOTICE OF SEARCH and CALL FOR NOMINATIONS for PRIVATE SECTOR REPRESENTATIVE (PSR) to the MMSU BOARD OF REGENTS (BOR)</a></p>
                    <p>
                      The Mariano Marcos State University (MMSU) is currently accepting nominations for one (1) Private Sector Representative to the MMSU Board of Regents (BOR). 
Nomination forms are available at the Office of the Board Secretary, Room 209, FEM Hall (Administration Building), Mariano Marcos State University, Brgy. Quiling Sur, City of Batac, Ilocos Norte. Forms can also be downloaded from the University
                    </p>
                    </div>
                      </div>
        </div>
      </div>

    </section>
  </div>  